.box{
  width: 300px;
  height: 300px;
}

.green{
    background-color: #C4F541;
}

.red{
  background-color: #F04848;
}

.blue{
  background-color: #49B8D3;
}

.purple{
  background-color: #D723F7;
}

.orange{
  background-color: #F78723;
}

#boxContent{
  display: flex;
  /*lex-direction: row;*/
}

.wide{
  width: 500px;
  height: 300px;
  background-color: pink;
}

.higher{
  height: 600px;
}

.listColor{
  color: blue;
}
